@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  html {
    background-color: #0C0C0D;
    color: #C8C8C8;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  
}

li{
  list-style: none;
}



/* Font */



.text-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.text-h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.text-h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.text-nunito {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.text-nunito-second {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.text-secondary {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.text-accent {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}


/* custom styles for card and border  */

.custom-cvg-border{

  @apply border rounded-full bg-customBorderSvg ;
}


.custom-card {
@apply border rounded border-customCardBackground mb-8 px-3 py-3  bg-customCardBackground ;
}


.icons-border{
 @apply border rounded-full p-2 mr-2 border-customBorderSvg bg-customBorderSvg ;
}

.button-styles{
@apply border border-slate-50 rounded-full text-nunito text-stone-950 bg-slate-50 py-3;
}

/* styles for active link  */

  .active {
   @apply  hover:bg-slate-300  active:bg-slate-300  focus:ring  focus:ring-slate-300;
    }

 .active-link {
  @apply hover:fill-slate-300 active:fill-slate-300 focus:ring focus:ring-slate-300;
 }